# Specify filepatterns you want git to ignore.

__pycache__/
.venv/
ipynb_checkpoints/
References/
Matrices/
dist/
build/
temp/
interface/js/
F_BUILD/
AFEM.egg-info/
*.pyc
secrets.txt
# sendEmail.py
*.cpython-37.pyc
*.csv
*.log
*.json
*.svg
*.txt
*.sublime*
